<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/scripts/click-event.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
